.App {
  text-align: center;
}

form {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: burlywood;
  border: 2px solid gray;
}

span {
  display: inline-block;
  margin: 10px;
  width: 100px;
  border-radius: 10px;
}

label {
  width: 30%;
  display: inline-block;
}

.labelHighInter {
  width: 50%;
  display: inline-block;
}

input[type="text"]{
  padding: 2%;
  width: 70%;
  font-family: inherit;
}

input[type="number"]{
  padding: 2%;
  width: 70%;
  font-family: inherit;
}

input[type="email"]{
  padding: 2%;
  width: 70%;
  font-family: inherit;
}

input[type="date"]{
  padding: 2%;
  width: 70%;
  font-family: inherit;
}

input[type="password"]{
  padding: 2%;
  width: 70%;
  font-family: inherit;
}

option, select{
  padding: 2%;
  width: 70%;
  font-family: inherit;
  font-size: x-large;
}

form div {
  margin: 10px;
}

p {
  font-size: 2rem;
  width: 100%;
  border-radius: 10px;
}

div img {
  height: 250px;
  width: 250px;
}

button{
  background-color: #04AA6D; /* Green */
  width: 25%;
  border: none;
  color: white;
  border-radius: 10px;
}

.btnSubmit{
  float: right;
  width: 25%;
  border: none;
  color: white;
  border-radius: 10px;
}

.btnReset{
  float: left;
  width: 25%;
  border: none;
  color: white;
  border-radius: 10px;
}